/* --- TEXT SCROLL --- */
@import '../../styles/settings/settings';
@import '../../styles/tools/mixins';

@import '../../styles/components/typography';

.text-scroll {
  @include box-display;
  align-content: center;
  align-items: center;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  float: left;
  height: 100vh;
  position: relative;
  text-align: right;
  width: 50%;
  vertical-align: top;

  &--info {
    @include box-display;
    float: left;
    padding: 0 0 0 40px;
    position: relative;
    width: 100%;

    h1 {
      @extend %title-block-1;
    }
  }

  > div {
    float: left;
    width: 100%;

    p {
      @extend %text;
      margin: 0 0 20px;
      position: relative;
      width: 100%;
      vertical-align: top;

      .link {
        @include font($font-text, 14px, 600, var(--text-color));
        line-height: 1.4em;
      }
    }

    > div {
      &:last-child {
        left: initial;
        right: 0;
      }
    }
  }

  &[data-type="2"] {
    float: right;
    text-align: left;
    
    > div {
      width: 100%;

      p {
        @include font($font-text, 13px, 400, var(--text-color));
        line-height: 1.7em;
        position: relative;
        vertical-align: top;
        white-space: pre-line;
      }
      
      > div {
        &:first-child {
          padding: 0 0 0 70px;
        }

        &:last-child {
          background-color: transparent;
          left: 0px;
          right: initial;
          width: 9px !important;

          > div {
            background-color: var(--text-color) !important;
            border-radius: 0 !important;
          }
        }
      }
    }

    &:before {
      @include box-display;
      background-color: var(--text-color);
      border: none;
      border-left: 1px solid transparent;
      content: '';
      height: 100vh;
      left: 4px;
      position: absolute;
      top: 0;
      transform: translate(0, 0);
      width: 0;
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .text-scroll {
    &[data-type="2"] {
      padding: 40px 0 0;

      .text-scroll {
        &--info {
          padding: 0;

          & + div {

            div {
              &:first-child {
                padding: 0 0 0 20px;
              }
            }
          }
        }
      }

      &:before {
        display: none;
      }
    }
  }
}