/* --- TYPOGRAPHY --- */
@import './../settings/settings';
@import './../tools/mixins';

.title-main,
%title-block-1 {
  @include box-display;
  @include font($font-default, 14px, 700, var(--text-color));
  line-height: 1.7em;
  letter-spacing: 0.02em;
  outline: none;
  margin: 0 0 20px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  vertical-align: top;
}

%text {
  @include font($font-text, 13px, 400, var(--text-color));
  line-height: 1.7em;
  letter-spacing: 0.02em;
}

// Example 1
@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-90%); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(90%); }
  100% { transform: translateY(0); }
}