/* --- TYPOGRAPHY --- */
@import './../settings/settings';
@import './../tools/mixins';

.title-main,
%title-block-1 {
  @include box-display;
  @include font($font-default, 18px, 700, $black-900);
  line-height: 1.4em;
  letter-spacing: 0.04em;
  outline: none;
  margin: 0 0 20px;
  padding: 0;
  position: relative;
  vertical-align: top;
}

%text {
  @include font($font-text, 13px, 400, $black-900);
  line-height: 1.9em;
  letter-spacing: 0.06em;
}