/* --- WEBDOOR ITEM --- */
@import './../../../styles/settings/settings';
@import './../../../styles/tools/mixins';

@import './../../../styles/components/animations';
@import './../../../styles/components/forms/buttons';
@import './../../../styles/components/typography';

.webdoor {
  &--item {
    border: none;
    border-right: 1px solid var(--text-color);
    height: 100vh;
    padding: 0 40px 0 0;
    position: absolute;
    pointer-events: auto;
    width: 100%;
    will-change: transform;

    .container,
    .description,
    .title {
      float: left;
      margin: 0;
      position: relative;
      width: 100%;
      white-space: pre-line;
    }

    .container {
      align-content: center;
      align-items: center;
      display: inline-flex;
      justify-content: center;
      flex-flow: row wrap;
      height: 100%;
    }

    .description {
      @extend %text;
      margin: 0;
      padding: 0 0 0 20px;
      width: 100%;
    }

    .btn-more {
      margin: 20px 0 0 auto;
      pointer-events: auto;
      z-index: 10;

      &.r {
        &:before {
          left: 100%;
          right: initial;
          width: 40px;
        }
      }
    }

    .title {
      @extend %title-block-1;
      margin: 0 0 20px;
      text-transform: uppercase;
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .webdoor {
    &--item {
      &--content {
        margin: 0;
        padding: 40px 0;

        .btn-more {
          bottom: initial;
          float: right;
          right: 0;
          position: relative;

          &.r {
            &:before {
              left: 100%;
              width: 20px;
            }
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .webdoor {
    &--item {
      height: 100%;
      padding: 0 20px;

      .btn-more {
        &.r {
          &:before {
            width: 20px;
          }
        }
      }
    }
  }
}