/* --- WEBDOOR ITEM --- */
@import './../../../styles/settings/settings';
@import './../../../styles/tools/mixins';

@import './../../../styles/components/animations';
@import './../../../styles/components/forms/buttons';
@import './../../../styles/components/typography';

.webdoor {
  &--item {
    @include box-display;
    left: 0;
    height: 100vh;
    max-width: 230px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;

    &--content {
      @include box-display;
      float: left;
      padding: 0 20px 0 0;
      position: relative;

      .description,
      .title {
        float: left;
        margin: 0;
        position: relative;
      }

      .description {
        @extend %text;
        padding: 0 0 0 20px;
      }

      .btn-more {
        bottom: -60px;
        right: 20px;
        pointer-events: auto;
        position: absolute;
        z-index: 10;
      }

      .title {
        @extend %title-block-1;
        margin: 0 0 20px;
        text-transform: uppercase;
      }
    }
  }

  .slider {
    &--item {
      &[data-active="true"] {
        animation: slide-in-right 500ms cubic-bezier(0.075, 0.82, 0.165, 1) both;

        .webdoor {
          &--item {
            &--content {
              .btn-more {
                animation: slide-in-right 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 100ms both;
              }
            }
          }
        }
      }
    }
  }
}