/* --- HEADER --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

.header {
  @include box-display;
  float: left;
  height: auto;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;

  &--top {
    pointer-events: auto;
  }
}
