/* -- HEADER ALBUM --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.header {
  &--album {
    @include box-display;
    animation: slide-in-bottom-x 450ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: $purple-900;
    height: 50%;
    left: 30vw;
    position: absolute;
    top: 100vh;
    transform: translate(0, -100%);
    width: 35vw;
    z-index: 4;
  }
}