/* --- NUMBER TEXT --- */
@import '../../styles/settings/settings';
@import '../../styles/tools/mixins';

.number-text {
  @include box-display;
  float: left;
  overflow: hidden;
  position: relative;
  width: auto;
  vertical-align: top;

  .current,
  .last {
    @include box-display;
    margin: 0;
    position: relative;
    text-align: left;
    width: 100%;
  }

  &[data-type="1"] {
    height: 85px;

    .current,
    .last {
      @include font($font-default, 85px, 400, var(--text-color));
      letter-spacing: -0.04em;
      line-height: 1em;
    }
    
    .last {
      left: 0;
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      transition: translateY 300ms cubic-bezier(0.64, 0.63, 0.17, 0.92);
    }
    
    .current {
      transform: translateY(100%);
      transition: translateY 300ms cubic-bezier(0.42,-0.07, 0.37, 0.38);
    }
  }

  &[data-type="2"] {
    height: 40px;

    .current,
    .last {
      @include font($font-default, 40px, 600, $white-900);
      letter-spacing: 0.04em;
      line-height: 1em;
    }

    .last {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

/* --- QUERIES --- */
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .number-text {
    &[data-type="1"] {
      height: 55px;
      
      .current,
      .last {
        @include rem('font-size', 50px);
      }
    }
  }
}