/* --- BIO --- */
@import '../../styles/settings/settings';
@import '../../styles/tools/mixins';

.bio {
  text-align: center;

  &--scroll {
    @include box-display;
    float: left;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .wrapper {
    pointer-events: auto;

    .text-scroll {
      z-index: 6;
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .bio {
    .gallery-min,
    .text-scroll {
      height: auto;
      width: 100%;
    }
    
    .gallery-min {
      margin: 70px 0 0;
      position: relative;
    }

    &--scroll {
      left: initial;
      position: relative;
      transform: initial;
      top: initial;
    }
  }
}