/* --- BIO --- */
@import '../../styles/settings/settings';
@import '../../styles/tools/mixins';

@import '../../styles/components/animations';

.bio {
  text-align: center;

  .text-scroll,
  .gallery-min .slider--container,
  .gallery-min .slider--controls,
  .gallery-min .number-text {
    opacity: 0;
  }

  .text-scroll {
    z-index: 6;
  }

  .wrapper {
    pointer-events: auto;
  }

  &[data-active="true"] {
    .gallery-min {
      .slider {
        &--container {
          animation: bio-element-left 600ms cubic-bezier(0.75, 0.25, 0.25, 0.75) 200ms both;
          opacity: 1;
        }

        &--controls {
          animation: bio-element-left 400ms cubic-bezier(0.75, 0.25, 0.25, 0.75) 200ms both;
        }
      }

      .number-text {
        animation: home-element-in 600ms cubic-bezier(0.75, 0.25, 0.25, 0.75) 0s both;
      }
    }

    .text-scroll {
      opacity: 1;

      &--info,
      &--info + div {
        animation: home-element-in 600ms cubic-bezier(0.75, 0.25, 0.25, 0.75) 0s both;
      }

      &[data-type="2"] {
        > div {
          > div {
            &:last-child {
              > div {
                animation: text-scroll 600ms cubic-bezier(0.75, 0.25, 0.25, 0.75) 0s both;
              }
            }
          }
        }
      }

      &:before {
        animation: text-scroll-line 600ms cubic-bezier(0.75, 0.25, 0.25, 0.75) 0s both;
      }
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .bio {
    .gallery-min,
    .text-scroll {
      height: auto;
      width: 100%;
    }
    
    .gallery-min {
      margin: 70px 0 0;
      position: relative;
    }

    &--scroll {
      left: initial;
      position: relative;
      transform: initial;
      top: initial;
    }
  }
}