/* --- BIO --- */
@import '../../styles/settings/settings';
@import '../../styles/tools/mixins';

.bio {
  text-align: center;

  &--scroll {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .wrapper {
    pointer-events: auto;

    .text-scroll {
      z-index: 6;
    }
  }

  &:before {
    @include box-display;
    background-image: url(/images/bg-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 100vh;
    left: 0;
    opacity: .4;
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    width: 100vw;
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .bio {
    .gallery-min,
    .text-scroll {
      height: auto;
      width: 100%;
    }
    
    .gallery-min {
      margin: 70px 0 0;
      position: relative;
    }

    .text-scroll {
      
    }
  }
}