/* --- SLIDER BACKGROUND --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.slider {
  &--background {
    @include box-display;
    height: 100vh;
    left: 0;
    max-width: calc(100vw - 375px);
    pointer-events: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;

    &--icon,
    .repultion {
      @include box-display;
      position: absolute;
    }

    &--icon {
      height: 100vh;
      right: 0;
      width: 50px;
    }

    .repultion {
      align-items: center;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: center;
      height: 100vh;
      overflow: hidden;
      max-width: calc(100% - 120px);
      left: 50%;
      transform: translate(-50%, 0);
      top: 0;
      width: 100%;

      .image {
        @include box-display;
        height: auto;
        pointer-events: none;
        position: relative;
        transform-origin: center;
        vertical-align: top;
      }

      .image {
        z-index: 2;
      }
    }
  }
}