/* --- SLIDER BACKGROUND --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

@import '../../../styles/components/animations';

.slider {
  &--background {
    @include box-display;
    height: 100vh;
    left: 0;
    max-width: 70vw;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;

    &--icon,
    &--image {
      @include box-display;
      position: absolute;
    }

    &--icon {
      @include font($font-default, 10px, 400, var(--background-color));
      animation: spaceboots 0.8s infinite forwards;
      background-color: var(--text-color);
      bottom: 20px;
      height: auto;
      left: 50vw;
      line-height: 1em;
      right: initial;
      padding: 4px 10px;
      transform: translate(-50%, 0);
      width: auto;

      .text {
        @include box-display;
      }

      &:before {
        @include box-display;
        background-color: var(--text-color);
        border: none;
        border-left: 1px solid transparent;
        content: '';
        height: 20px;
        left: 50%;
        line-height: 1em;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 0;
        vertical-align: top;
      }
    }

    &--image {
      align-items: center;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: center;
      height: 100vh;
      left: initial;
      overflow: hidden;
      pointer-events: auto;
      max-width: calc(70vw - 180px);
      right: 40px;
      transform: translate(0, 0);
      top: 0;
      width: 100%;

      .image {
        @include box-display;
        height: auto;
        pointer-events: none;
        position: absolute;
        transform-origin: center;
        vertical-align: top;
      }
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .slider {
    &--background {
      height: auto;

      &--image {
        height: auto;
        right: 0;
        padding: 0 20px;
        position: relative;
        max-width: initial;
      }
    }
  }
}
