/* --- WEBDOOR --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

@import './../../styles/components/forms/buttons';
@import './../../styles/components/typography';

.webdoor {
  @include box-display;
  height: 100vh;
  float: left;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  width: 100%;
  vertical-align: top;

  .slider {
    height: 100vh;
    margin: 0;
    width: 100%;
    z-index: 4;

    &--container {
      height: 100vh;
      float: right;
      width: calc(320px + 20px);

      &:before {
        @include box-display;
        background-color: var(--text-color);
        content: '';
        height: 100vh;
        left: -50px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 1px;
      }
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .webdoor {
    .slider {
      &--background {
        display: none;
      }
    }
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .webdoor {
    height: auto;

    .slider {
      height: calc(100vh - (70px + 55px));
      margin: 0;
    }
  }
}