/* --- WEBDOOR --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

@import './../../styles/components/forms/buttons';
@import './../../styles/components/typography';

.webdoor {
  height: 100vh;
  float: left;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  width: 100%;
  vertical-align: top;

  > div[timeout] {
    width: 100%;
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .webdoor {
    height: calc(100vh - 100px);
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .webdoor {
    height: auto;
  }
}