/* --- SLIDER LIST --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.slider {
  &--container {
    z-index: 5;
  }

  &--item {
    @include box-display;
    display: none;
    position: relative;

    &[data-active="true"],
    &[data-last="true"] {
      display: inline-block;
    }

    &[data-active="true"] {
      z-index: 2;
    }

    &[data-last="true"] {
      z-index: 1;
    }
  }
}