/* --- SLIDER LIST --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.slider {
  &--container {
    z-index: 5;
  }
  
  &--item {
    @include box-display;
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    &[data-active="true"] {
      display: flex;
      opacity: 1;
      z-index: 2;
    }

    &[data-last="true"] {
      z-index: 1;
    }
  }
}
