/* -- HEADER EVENTS --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.header {
  &--gallery {
    @include box-display;
    animation: slide-in-left 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    bottom: 0;
    background-color: $yellow-900;
    height: calc(100vh / 3);
    left: 65vw;
    position: absolute;
    transform: translate(0, -100%);
    width: 35vw;
    z-index: 3;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @keyframes slide-in-bottom-x {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(-100%);
  }
}