/* --- HOME  --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

.home {
  @include box-display;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  flex-flow: row nowrap;
  pointer-events: auto;
  position: relative;
  vertical-align: top;
  z-index: 16;
}