/* --- HOME  --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

.home {
  @include box-display;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  flex-flow: row nowrap;
  pointer-events: auto;
  position: relative;
  vertical-align: top;
  z-index: 16;

  &:before {
    @include box-display;
    background-image: url(/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 100vh;
    left: 0;
    opacity: .5;
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    width: 100vw;
  }
}

/* --- QUERIES --- */
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .home {
    &:before {
      height: calc(100% + 55px);
    }
  }
}