/* --- HEADER MENU --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.header {
  &--menu {
    background-color: transparent;
    height: auto;
    position: relative;
    width: 50%;
    z-index: 10;

    &--list,
    &--main {
      margin: 0;
    }

    &--list {
      background-color: transparent;
      display: inline-flex;
      align-items: center;
      float: left;
      justify-content: center;
      flex-flow: row nowrap;
      height: auto;
      margin: 0;
      overflow: hidden;
      list-style: none;
      padding: 20px 0 10px 20px;
      position: relative;
      width: auto;
      z-index: 2;
    }
  }

  &--content {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
  }
}

/* --- QUERIES --- */
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) {
  .header {
    &--menu {
      display: none;
    }
  }
}
