/* --- REPULTION --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.repultion {
  @include box-display;
  align-content: center;
  align-items: center;
  height: 100vh;
  left: 0;
  flex-flow: row nowrap;
  justify-content: center;
  position: absolute;
  width: 100vw;
}