/* --- MINI PLAYER CONTROLS --- */
@import './../../../styles/settings/settings';
@import './../../../styles/tools/mixins';

@import './../../../styles/components/forms/buttons';

.mini-player {
  &--controls {
    @include box-display;
    bottom: -6px;
    left: 25px;
    margin: 0;
    text-align: left;
    position: absolute;
    text-align: center;
    width: auto;
    z-index: 3;

    .btn {
      @extend %btn-clear;
      float: none;
      margin: 0 3px;
      position: relative;
      padding: 0;

      i {
        @include box-display;
        @include rem('font-size', 14px);
        color: var(--text-color);
        pointer-events: none;
      }

      &-play {
        top: 1px;

        i {
          @include rem('font-size', 16px);
          display: none;
        }

        &[data-paused="false"] {
          i {
            display: inline-block;

            &:last-child {
              display: none;
            }
          }
        }

        &[data-paused="true"] {
          i {
            display: none;
            
            &:last-child {
              display: inline-block;
            }
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}