/* --- CONTENT --- */
@import '../../styles/settings/settings';
@import '../../styles/tools/mixins';

.content {
  @include box-display;
  background-color: transparent;
  min-height: 100vh;
  position: relative;
  transition: background-color 600ms cubic-bezier(0.75, 0.25, 0.25, 0.75);
  width: 100%;
  vertical-align: top;

  .header,
  .footer {
    opacity: 0;
    transition: all 500ms cubic-bezier(0.75, 0.25, 0.25, 0.75);
  }

  .page-current {
    @include box-display;
    display: none;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
    vertical-align: top;

    &:before {
      @include box-display;
      background-image: url(/images/bg-menu.png);
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      height: 100vh;
      left: 0;
      opacity: 0;
      mix-blend-mode: screen;
      position: absolute;
      top: 0;
      transition: opacity 700ms cubic-bezier(.57, .21, .69, 1.25);
      width: 100vw;
    }

    &[data-active="true"] {
      display: inline-block;
    }
  }

  &[data-loading="true"] {
    .header,
    .footer {
      opacity: 1;
    }

    .page-current {
      &:before {
        opacity: .5;
      }
    }
  }
}

/* --- QUERIES --- */
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .content {
    min-height: auto;
    height: auto;
  }
}