/* --- CONTENT --- */
@import '../../styles/settings/settings';
@import '../../styles/tools/mixins';

.content {
  @include box-display;
  background-color: transparent;
  min-height: 100vh;
  position: relative;
  transition: background-color 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
  vertical-align: top;

  .page-current {
    @include box-display;
    display: none;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
    vertical-align: top;

    &[data-active="true"] {
      display: inline-block;
    }

    &:before {
      @include box-display;
      background-image: url(/images/bg-menu.png);
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      height: 100vh;
      left: 0;
      opacity: .5;
      mix-blend-mode: screen;
      position: absolute;
      top: 0;
      width: 100vw;
    }
  }
}

/* --- QUERIES --- */
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .content {
    min-height: auto;
    height: auto;
  }
}