/* --- HEADER BIO --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

@import '../../../styles/components/forms/buttons';
@import '../../../styles/components/typography';

.header {
  &--bio {
    @include box-display;
    background-color: $black-900;
    height: 50vh;
    right: 0;
    position: absolute;
    top: 0;
    width: 70%;

    &--content {
      @include box-display;
      float: left;
      height: 100%;
      position: relative;
      width: 100%;
      vertical-align: top;

      &--info,
      &--images {
        @include box-display;
        float: left;
        position: relative;
      }

      &--images {
        left: 0;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        width: 100%;

        .image {
          @include box-display;
          display: inline-flex;
          float: left;
          height: 100%;
          position: relative;
          width: 100%;

          img {
            @include box-display;
            display: none;
            object-fit: cover;
            float: left;
            position: relative;
            width: 100%;
            vertical-align: top;
          }

          &[data-active="true"] {
            img {
              display: inline-block;
            }
          }

          &:after {
            @include box-display;
            background-color: rgba($blue-900, .5);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 3;
          }
        }

        .slider {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 2;

          &--item,
          &--container {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }

          &--controls {
            z-index: 4;
          }
        }
      }

      &--info {
        background-color: transparent;
        bottom: 0;
        left: 0;
        padding: 20px;
        position: absolute;
        width: 50%;
        vertical-align: bottom;
        z-index: 3;

        .description {
          @extend %text;
          margin: 0;
          padding: 0 0 0 20px;
        }
    
        .link {
          @extend %btn-more;
          float: right;
          margin: 20px 0 0;
        }
    
        .title {
          @extend %title-block-1;
          color: $black-900;
        }
      }
    }

    &:before {
      @include box-display;
      
      background-color: rgba($blue-900, .5);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    animation: slide-in-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @keyframes slide-in-top {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}