/* --- MIN PLAYER --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

@import './../../styles/components/forms/buttons';

.mini-player {
  @include box-display;
  background-color: transparent;
  bottom: 35px;
  right: 20px;
  padding: 0 0 10px;
  position: absolute;
  text-align: right;
  width: 320px;
  z-index: 1001;

  &--controls,
  &--info,
  canvas {
    @include box-display;
    float: left;
    position: relative;
    vertical-align: top;
  }

  &--controls {
    float: right;
  }

  canvas {
    left: 0;
    position: absolute;
    top: 10px;
  }
}