/* --- MINI PLAYER TIMER --- */
@import '../../../styles/settings/settings';
@import '../../../styles/tools/mixins';

.mini-player-timer {
  @include box-display;
  float: left;
  margin: 0;
  position: relative;
  top: 0;
  width: 100%;
  vertical-align: top;

  .percent,
  .progress {
    @include box-display;
    float: left;
    position: relative;
    width: 100%;
  }

  .percent {
    appearance: none;
    background-color: transparent;
    height: 1px;
    right: 0;
    position: absolute;
    transform: scaleX(-1);
    top: 0;
    width: 100%;

    &[value] {
      appearance: none;
      color: var(--text-color);
    }
  }

  .progress {
    left: 30px;
    width: calc(100% + 20px);

    canvas {
      float: left;
      left: initial;
      position: relative;
      top: initial;
      transform: none;
    }

    &:after {
      @include box-display;
      background-color: var(--text-color);
      content: '';
      position: absolute;
      top: 3px;
    }
  }
}

/* --- QUERIES --- */
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .mini-player-timer {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 320px;

    .progress {
      left: initial;
      width: 100%;

      canvas {
        width: 100%;
      }
    }
  }
}