/* --- THEME --- */
@import '../../styles/settings/settings';
@import '../../styles/tools/mixins';

.theme {
  @include box-display;
  background-color: var(--background-color);
  min-height: 100vh;
  position: relative;
  width: 100%;
  vertical-align: top;
}
