/* --- MINI PLAYER INFO --- */
@import './../../../styles/settings/settings';
@import './../../../styles/tools/mixins';

.mini-player {
  &--info {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin: 0;
    height: 15px;
    padding: 0;
    text-align: left;
    top: 2px;
    width: calc(100% - (20px + 65px));
    z-index: 2;
    
    .name {
      @include box-display;
      @include font($font-text, 13px, 600, $black-900);
      border: none;
      float: left;
      overflow: hidden;
      letter-spacing: -0.010em;
      padding: 0;
      position: relative;
      text-overflow: ellipsis;
      top: -2px;
      width: calc(100% - (55px + 10px));
      white-space: nowrap;
    }
  }
}
