/* --- MINI PLAYER INFO --- */
@import './../../../styles/settings/settings';
@import './../../../styles/tools/mixins';

.mini-player {
  &--info {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin: 0 15px 0 0;
    height: 15px;
    padding: 0 3px;
    text-align: left;
    width: calc(100% - (15px + 65px));
    z-index: 2;

    .info,
    .name {
      @include box-display;
      position: relative;
    }

    .info {
      @include font($font-default, 12px, 600, $black-900);
      float: left;
      margin: 0 10px 0 0;
      opacity: 0.7;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      width: 55px;
    }

    .name {
      @include font($font-text, 12px, 500, $black-900);
      border: none;
      float: left;
      overflow: hidden;
      letter-spacing: -0.020em;
      padding: 0;
      position: relative;
      text-overflow: ellipsis;
      top: -2px;
      width: calc(100% - (55px + 10px));
      white-space: nowrap;
    }

    &[data-played="true"] {
      .name {
        
      }
    }
  }
}
