/* --- MINI PLAYER INFO --- */
@import './../../../styles/settings/settings';
@import './../../../styles/tools/mixins';

.mini-player {
  &--info {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin: 0 15px 0 0;
    height: 15px;
    padding: 0;
    text-align: left;
    z-index: 2;

    .info,
    .name {
      @include box-display;
      position: relative;
    }

    .info {
      @include font($font-default, 11px, 400, $black-900);
      float: left;
      margin: 0 10px 0 0;
      opacity: 0.7;
      letter-spacing: -0.025em;
    }

    .name {
      @include font($font-default, 12px, 700, $black-900);
      border: none;
      float: left;
      letter-spacing: -0.075em;
      overflow: hidden;
      padding: 0 10px;
      position: relative;
      width: 180px;

      .text-scroll {
        @include box-display;
        float: left;
        position: relative;
        width: auto;
        white-space: nowrap;
      }
    }

    &[data-played="true"] {
      .name {
        .text-scroll {
          animation: animation-text-scroll 7s linear 0ms infinite forwards;
        }
      }
    }
  }
}

/* --- ANIMATION --- */
@keyframes animation-text-scroll {
  0% {
    transform: translateX(180px);
  }
  100% {
    transform: translateX(calc(-100% - 5px));
  }
}