/* --- HEADER TOP --- */
@import './../../../styles/settings/settings';
@import './../../../styles/tools/mixins';

@import './../../../styles/components/forms/buttons';

.header {
  &--top {
    @include box-display;
    align-content: space-between;
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 20px;
    min-height: 70px;
    height: 70px;
    position: absolute;
    width: 100%;
    z-index: 2;

    &--info {
      @include box-display;
      position: relative;
    }

    &--info {
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }

    &--btn {
      @extend %btn-clear;
      display: none;
      padding: 0;
      pointer-events: auto;

      i {
        @include box-display;
        @include rem('font-size', 22px);
        color: var(--text-color);
        display: none;
        float: left;
        padding: 0;
        vertical-align: top;

        &.play {
          display: inline-block;
        }
      }

      &[data-active="true"] {
        i {
          display: inline-block;

          &.play {
            display: none;
          }
        }
      }
    }
  }

  .lang-select {
    right: 15px;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

/* --- QUERIES --- */
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .header {
    &--top {
      position: relative;

      &--btn {
        display: inline-block;
      }
    }
  }
}