/* --- SLIDER --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

.slider {
  @include box-display;
  float: left;
  position: relative;

  &--controls {
    z-index: 9;
  }

  &--background,
  &--container {
    @include box-display;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    float: left;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    position: relative;
  }

  &--background {
    @include box-display;
    height: 100vh;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
    
    .image-ref,
    .repultion {
      @include box-display;
      position: absolute;
    }

    .repultion {
      align-items: center;
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: center;
      height: 100vh;
      left: 0;
      top: 0;
      width: 100vw;

      .image {
        @include box-display;
        pointer-events: none;
        position: relative;
        transform-origin: center;
        vertical-align: top;
      }

      .image {
        z-index: 2;
      }
    }

    .image-ref {
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  &--container {
    z-index: 5;
  }

  &--item {
    @include box-display;
    display: none;
    position: relative;

    &[data-active="true"],
    &[data-last="true"] {
      display: inline-block;
    }

    &[data-active="true"] {
      z-index: 2;
    }

    &[data-last="true"] {
      z-index: 1;
    }
  }

  &[data-type="1"],
  &[data-type="4"] {
    .number-text {
      bottom: 90px;
      left: initial;
      left: 15px;
      position: absolute;
      text-align: right;
    }
  }

  &[data-type="1"] {
    .slider {
      &--container {
        height: 100%;
        right: 0;
        position: absolute;
        top: 0;
      }

      &--item {
        width: 100%;
        
        &[data-last="true"] {
          display: none;
        }
      }
    }
  }

  &[data-type="4"] {
    .slider {
      &--item {
        overflow: hidden;

        &[data-last="true"] {
          left: 0;
          position: absolute;
          top: 0;
        }
      }
    }

    &[data-direction="next"] {
      .slider {
        &--item {
          &[data-active="true"] {
            .gallery {
              &-item {
                animation: slider-anime-type-four-in 0.5s cubic-bezier(0.02, 0.76, 0.35, 1.03) both;
              }
            }
          }

          &[data-last="true"] {
            animation: slider-anime-type-four-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
          }
        }
      }
    }

    &[data-direction="prev"] {
      .slider {
        &--item {
          &[data-active="true"] {
            .gallery {
              &-item {
                animation: slider-anime-type-four-in-left 0.5s cubic-bezier(0.02, 0.76, 0.35, 1.03) both;
              }
            }
          }

          &[data-last="true"] {
            animation: slider-anime-type-four-out-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
          }
        }
      }
    }
  }
}

@keyframes slider-anime-type-four-in {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  70% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slider-anime-type-four-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  70% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slider-anime-type-four-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes slider-anime-type-four-out-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}
