/* --- SLIDER --- */
@import './../../styles/settings/settings';
@import './../../styles/tools/mixins';

.slider {
  @include box-display;
  float: left;
  position: relative;

  &--controls {
    z-index: 9;
  }

  &--background,
  &--container {
    @include box-display;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    float: left;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    position: relative;
  }

  &[data-type="1"],
  &[data-type="4"] {
    .number-text {
      bottom: 90px;
      left: initial;
      left: 15px;
      position: absolute;
      text-align: right;
    }
  }

  &[data-type="1"] {
    .slider {
      &--container {
        height: 100%;
        justify-content: flex-start;
        left: 65vw;
        padding: 0 0 0 40px;
        position: absolute;
        top: 0;
        width: 100%;
      }
      
      &--item {
        max-width: 320px;
        width: 100%;
        
        &[data-last="true"] {
          display: none;
        }
      }
    }
  }

  &[data-type="4"] {
    .slider {
      &--item {
        overflow: hidden;

        &[data-last="true"] {
          left: 0;
          position: absolute;
          top: 0;
        }
      }
    }

    &[data-direction="next"] {
      .slider {
        &--item {
          &[data-active="true"] {
            .gallery {
              &-item {
                animation: slider-anime-type-four-in 0.5s cubic-bezier(0.02, 0.76, 0.35, 1.03) both;
              }
            }
          }
        }
      }
    }

    &[data-direction="prev"] {
      .slider {
        &--item {
          &[data-active="true"] {
            .gallery {
              &-item {
                animation: slider-anime-type-four-in-left 0.5s cubic-bezier(0.02, 0.76, 0.35, 1.03) both;
              }
            }
          }
        }
      }
    }
  }
}

/* --- QUERIES --- */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .slider {
    &[data-type="1"] {
      .slider {
        &--container {
          left: 0;
          height: auto;
          max-width: initial;
          padding: 0 20px;
          position: relative;
          width: 100%;

          &:before {
            display: none;
          }
        }

        &--item {
          float: right;
          max-width: initial;
          width: 100%;
        }
      }

      .number-text {
        left: 40px;
        bottom: initial;
        top: 80px;
        z-index: 9;

        p {
          color: var(--background-color);
        }
      }
    }

    &[data-type="4"] {
      .slider {
        &--container {
          align-items: flex-start;
          float: right;
          height: 100%;
          margin: 0;
          overflow: hidden;
          position: relative;
          top: 0;
          transform: translate(0, 0);
          width: auto;
        }

        &--controls {
          left: -20px;
        }

        &--item {
          height: auto;
          width: 100%;

          .gallery {
            &-item {
              display: inline-block;

              img {
                height: auto;
                width: 100%;
              }
            }
          }
        }
      }

      .number-text {
        bottom: -5px;
        left: 0;
      }
    }
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 640px) {
  .slider {
    &[data-type="1"] {
      .slider {
        &--container {
          
        }
      }

      .number-text {
        bottom: 55px;
        left: 17px;
      }
    }
  }
}

@keyframes slider-anime-type-four-in {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  70% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slider-anime-type-four-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  70% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slider-anime-type-four-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@keyframes slider-anime-type-four-out-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}
